.bounty-modal, .token-modal, .wallet-modal {
  span.title {
    color: $c-base;
    font-size: 24px;
    margin-bottom: 16px;
  }
  label {
    color: $c-semi-black;
    margin-left: 2px;
  }
  .close-button {
    background-image: url(../images/close.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0;
    position: relative;
    margin-bottom: -32px;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  .modal-content {
    border-radius: 8px;
    input, textarea {
      border-radius: 8px;
      width: 100%;
      border: 1px solid #d8d8d8;
      padding: 4px 8px;
    }
    textarea {
      resize: vertical;
    }
  }
  .file-upload {
    background-color: #F4F4F4;
    background-image: url(../svg/ic-upload.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 64px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    display: block;
    color: rgba(40, 47, 57, 0.7);
    border-radius: 10px;
    border: 1px dashed #d8d8d8;
    background-position: center 36%;
    label {
      background: transparent;
      position: relative;
      line-height: 36px;
      color: gray;
      width: 100%;
      border-bottom-right-radius: .3rem;
      border-bottom-left-radius: .3rem;
      font-size: 16px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
  table {
    width: 100%;
    tr {
      width: 100%;
      td {
        width: 48%;
        .btn {
          width: 100%;
        }
      }
    }
  }
  .add-paper {
    padding-left: 4px;
    color: $c-semi-black;
    cursor: pointer;
    &:before, &::before {
      content: "+";
      border-radius: 50%;
      background-color: #282f39;
      color: white;
      padding: 1px 6px 3px;
      left: -4px;
      position: relative;
      top: -2px;
    }
  }
  .wallet-address {
    text-align: center;
  }
}
.wallet-modal {
  ul.wallet-menu {
    list-style-type: none;
    padding-left: 0;
    width: 160px;
    display: inline-block;
    width: 166px;
    li {
      font-size: 16px;
      line-height: 20px;
      padding: 12px 24px;
      cursor: pointer;
      color: #9B9B9B;
      border-bottom: 1px solid #F4F4F4;
      &:hover {
        color: black;
      }
      &.active {
        background-color: #F4F4F4;
        color: black;
        width: 167px;
        border: 1px solid #9B9B9B;
        border-right: 0;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.prev {
        border-bottom: 1px solid transparent;
      }
    }
  }
  .wallet-content {
    float: right;
    display: block;
    width: 580px;
    padding: 10px 20px 20px;
    background-color: #F4F4F4;
    border: 1px solid #9B9B9B;
    border-radius: 8px;
    border-top-left-radius: 0;
    .type {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      padding-left: 28px;
      &.recommended {
        background-image: url('../svg/ic-round-check.svg')
      }
      &.not-recommended {
        background-image: url('../svg/ic-round-warning.svg')
      }
    }
  }
  .wallets {
    overflow: hidden;
    margin: 0 auto;
    width: 560px;
    .vl {
      border-left: 1px solid #E4E4E4;
      height: 154px;
      position: absolute;
      margin-left: -3px;
      top: 130px;
    }
    .wallet {
      position: relative;
      float: left;
      display: block;
      width: 168px;
      .icon {
        width: 116px;
        height: 116px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
      }
      .btn.btn-primary.btn-sm {
        padding: 4px 8px;
        margin: auto;
        display: block;
      }
      &.metamask {
        margin-right: 24px;
        .icon {
          background-image: url(../images/icon-metamask.png);
        }
      }
      &.hardware {
        margin-right: 24px;
        .icon {
          background-image: url(../images/icon-hardware-wallet.png);
        }
      }
      &.software {
        .icon {
          background-image: url(../images/icon-software-wallet.png);
        }
      }
    }  
  }
  &.choose-wallet {
    .modal-content {
      width: 720px;
      min-width: 720px;
    }
    .modal-dialog {
      max-width: 720px;
    }
  }
  &.choose-wallet-address, &.enter-passphrase, &.confirm-wallet-address {
    .modal-content {
      width: 480px;
      min-width: 480px;
    }
    .modal-dialog {
      max-width: 480px;
    }
  }
  &.other-wallet {
    .modal-content {
      width: 780px;
      min-width: 780px;
    }
    .modal-dialog {
      max-width: 780px;
    }
  }
  &.choose-wallet-address {
    .addresses {
      height: 240px;
      overflow-y: scroll;
      background-color: #F4F4F4;
      padding: 12px;
      label {
        color: #1F252E;
        font-size: 16px;
      }
      .checkmark {
        background-color: white;
        border: 2px solid black;
      }
    }
  }
  &.enter-passphrase {
    input {
      width: 350px;
      display: block;
      margin: auto;
    }
  }
  &.confirm-wallet-address {
    .address {
      margin: auto;
      width: 320px;
    }
  }
}
/* Responsive */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}

// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991px) {

}

// Large devices (desktops, less than 1200px)
@media (min-width: 992px) and (max-width: 1199px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}